---
- name: install zip
  package:
    name: "{{ item }}"
    state: present
  loop:
    - zip
    - vim

- name: Create directory test1
  ansible.builtin.file:
    path: /tmp/{{ item }}
    state: directory
  loop:
    - test1
    - test2

- name: Copy greet.txt to /tmp
  ansible.builtin.copy:
    src: greet.txt
    dest: /tmp/test1/greet.txt

- name: Write hostname to file.
  copy:
    content: "The server hostname is {{ ansible_facts['hostname'] }}\n"
    dest: /tmp/test2/hostname.txt
