---
- name: Install Vim package
  ansible.builtin.package:
    name: vim
    state: present

- name: Install zip package Debian
  ansible.builtin.apt:
    name: zip
    state: present
    update_cache: yes
  when: ansible_facts['distribution'] == 'Debian'
